body {
    font-family: 'Courier New', Courier, monospace;
}


#title {
    font-size: 50px;
    background-color: rgb(79, 0, 0);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    border: 15px;
    color: white;
    display: block;
}

 p
 a {
    color: salmon;
    font-weight: bold;
    background-color: black;
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: fit-content;
}

a:hover {
    color: white;
    background-color: rgb(79, 0, 0);
}

a:visited {
    color: white;
}